body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: #f3f3f3;
}

@font-face {
    font-family: 'Game Of Squids';
    src: url("fonts/Game Of Squids.ttf") format("truetype");
}

@font-face {
    font-family: 'NeoNeon';
    src: url("fonts/NeoNeon.ttf") format("truetype");
}

h1{
    font-family: 'Game Of Squids';
}

h2{
    font-family: 'NeoNeon';
}

.Nexgen {
    font-family: 'Game Of Squids', sans-serif;
    color: rgb(0, 0, 0);
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-container {
    background: rgba(0, 0, 0, 0.4);
    padding: 35px 50px;
    border-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(8px);
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 400px;
}

.login-container h1, .login-container h2 {
    color: rgb(0, 0, 0);
}

.e-mail, .password-container {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.e-mail label, .password-container label {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.e-mail input, .password-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 16px;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px;
}

.password-container .toggle-label {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    color: #ddd;
}

.login-btn {
    background-color: #074d7c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.login-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(29, 126, 190, 0.4);
}

.login-btn:active {
    transform: scale(0.95);
}

.links {
    margin-top: 15px;
}

.links a {
    color: #0a2291;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}

@media (max-width: 500px) {
    .login-container {
        width: 90%;
        padding: 25px;
    }
}
