body {
    font-family: Arial, 'Times New Roman';
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
}

@font-face {
    font-family: 'Game Of Squids';
    src: url("fonts/Game\ Of\ Squids.ttf") type="truetype";
}

.Nexgen {
    font-family: 'Game Of Squids';
}

/* Video Background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
}

/* Blurry Login Box */
.login-container {
    background: rgba(0, 0, 0, 0.253);
    padding: 35px 85px;

    border-radius: 60px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.096);
    text-align: center;
    backdrop-filter: blur(8px);
    position: relative;
    z-index: 2;
    width: 350px;
}

.login-container h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.e-mail {
    margin-bottom: 20px;
}

.e-mail label {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.e-mail input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.remember-me {
    margin: 15px 0;
    color: rgb(0, 0, 0);
}

.login-btn {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}

.links {
    margin-top: 15px;
}

.links a {
    color: #241f72;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}

.animation-container {
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.bar-chart-animation {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: #f39c12;
    border-right-color: #e74c3c;
    border-bottom-color: #2ecc71;
    border-left-color: #3498db;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
